section {
    background-color: #FFE012;
    text-align: center;
}
.menu {
    display: inline-block;
    margin: 200px auto;
}
.menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    background-color: #8a3411;
}
.banner {
    text-align: center;
}
footer {
    background-color: lightgray;
    height: 120px;
    margin-top: 10px;
}
