*{
    margin: 0;
    padding: 0;
}
.banner {
    text-align: center;
}
.banner img {
    width: 200px;
    height: 100px;
}
section {
    background-color: #FFE012;
    text-align: center;
}
.welcome {
    padding-top: 20px;
}
footer {
    background-color: lightgray;
    height: 120px;
    margin-top: 10px;
}
.status input {
    display: inline-block;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
.logout, .withdraw {
    display: inline-block;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #8a3411;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    margin-bottom: 40px;
}
.logout a, .withdraw a{
    color: white;
    padding: 15px 35px;
    text-decoration: none;
}
.nickname {
    margin-bottom: 50px;
}