.banner {
    text-align: center;
}
.banner img {
    width: 200px;
    height: 100px;
}
section {
    background-color: #FFE012;
    text-align: center;
}
.menu {
    display: inline-block;
    margin: 200px auto;
}
.menu div {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
    background-color: #8a3411;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: white;
    width: 200px;
}
footer {
    background-color: lightgray;
    height: 120px;
    margin-top: 10px;
}
